
.tuto-off.ann .tuto-title, .tuto-off.news .tuto-title {
    background:#39c url(https://2img.net/i.imgur.com/l7s6MA7.png) no-repeat scroll 0 -4px !important
}

.tuto-off td.tuto-fa {
    position: absolute;
    color: #fff;
    font-size: 4em;
    display: block;
    text-shadow: 0 2px 0 #000;
    text-align: center;
    width: 65px;
    font-family: "FontAwesome";
    top:43%
}

div.postbody .faq-off:first-child {
    border-radius: 0 10px 0 0;
    margin-top:20px
}

.faq-title {
    background: #39c url(https://2img.net/i.imgur.com/d8gCGFF.png) no-repeat scroll 0 -4px !important;
    border-radius: 0 10px 0 0;
    border-top: 2px solid #17a;
    color: #fff;
    font-family: sans-serif, FontAwesome;
    font-size: 25px;
    font-weight: 700;
    height: 100px;
    line-height: 1em;
    padding-left: 100px;
    text-shadow:1px 0 0 #17a
}

.faq-off {
    background-color: #f7f7f7;
    border-right: 1px solid #ddd;
    border-spacing: 0;
    margin-left: -10px;
    position: relative;
    width:100%
}

.faq-footer {
    background-color: #333;
    border-radius: 0 0 10px;
    color: #fff;
    font-family: sans-serif;
    font-size: .9em;
    margin-bottom: 15px;
    margin-left: -10px;
    width:100%
}

.faq-contain h2.post-content {
    background-color: #eee;
    border-bottom: 1px solid #ddd !important;
    color: #333 !important;
    counter-increment: chapter;
    counter-reset: subpart;
    font-family: sans-serif, FontAwesome;
    font-size: 1.5em;
    margin-bottom: 15px;
    margin-left: -20px;
    margin-right: -20px;
    padding:10px
}

.faq-contain.reset {
    counter-reset:chapter
}

.faq-contain {
    border-left: 75px solid #eee;
    border-right: 20px solid #eee;
    padding:10px 20px
}

.faq-contain h2.post-content::before {
    background-color: #333;
    border-radius: 31px;
    box-sizing: border-box;
    color: #fff;
    content: counter(chapter, decimal);
    display: inline-block;
    height: 33px;
    margin-left: -50px;
    margin-right: 15px;
    text-align: center;
    width:33px
}

.faq-copy {
    padding:10px 20px
}

.faq-copy::before {
    content: "\f129";
    float: right;
    font-family: FontAwesome;
    font-size: 6em;
    margin-top:28px
}
li.thumb-msg span.thumb-up {
    display: inline-block !important;
    box-sizing: border-box;
    background-color: #73BC4E !important;
    height: 29px;
    color: #DAEDD1;
    border-radius: 24px;
    padding: 6px 9px;
    font-size: 1.4em;
    font-weight:700
}

li.thumb-msg span a {
    color:#FFF
}

.profile-icons {
display: flex;
width: 100%;
justify-content: end;
list-style: none;
gap: .75rem;
}
.topic-title {
display: none;
}

.tuto-ast-off, .tuto-jur, .tuto-jur-contain, .tuto-off {
    background-color: #f7f7f7;
    border-right: 1px solid #ddd;
    margin-left: -10px;
    position: relative;
    width: 100%;
    border-spacing:0
}

div.postbody .tuto-ast-off:first-child, div.postbody .tuto-jur, div.postbody .tuto-off:first-child {
    margin-top: 20px;
    border-radius:0 10px 0 0
}

.tuto-ast-title, .tuto-jur-title, .tuto-title {
    background: url(https://2img.net/i.imgur.com/d8gCGFF.png) 0 -4px no-repeat #39c;
    border-radius: 0 10px 0 0;
    border-top: 2px solid #17a;
    color: #fff;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 700;
    height: 100px;
    padding-left: 100px;
    text-shadow:1px 0 0 #17a
}

.tuto-jur-title {
    background-color: #e34839;
    border-top: 2px solid #dd2e20;
    text-shadow:1px 0 0 #dd2e20
}

.tuto-ast-title {
    background-color: #89ba5b;
    border-color: #85ad5f !important;
    text-shadow:1px 0 0 #57983a
}

.tuto-contain, .tuto-jur-contain td {
    border-left: 75px solid #eee;
    border-right: 20px solid #eee;
    padding:10px 20px
}

.tuto-contain h2.post-content, .tuto-jur-contain td h2.post-content {
    background-color: #eee;
    border-bottom: 1px solid #ddd !important;
    font-family: sans-serif;
    font-size: 1.5em;
    margin-left: -20px;
    margin-right: -20px;
    padding: 10px;
    margin-bottom: 15px;
    counter-increment: chapter;
    counter-reset: subpart;
    color:#333 !important
}

.tuto-contain h3.post-content, .tuto-jur-contain td h3.post-content {
    border-bottom: 1px solid #333;
    color: #333;
    counter-increment: subpart;
    font-family: sans-serif;
    padding-bottom: 5px;
    text-transform:unset
}

.tuto-contain h2.post-content::before, .tuto-jur-contain td h2.post-content::before {
    background-color: #333;
    border-radius: 31px;
    box-sizing: border-box;
    color: #fff;
    content: counter(chapter, decimal);
    display: inline-block;
    height: 33px;
    margin-left: -50px;
    margin-right: 15px;
    text-align: center;
    width:33px
}

.tuto-contain h3.post-content:before, .tuto-jur-contain td h3.post-content::before {
    content: counter(chapter) "." counter(subpart) ". "
}

.tuto-contain.reset, .tuto-jur-contain.reset {
    counter-reset:chapter
}

.tuto-ast-footer, .tuto-footer {
    background-color: #333;
    border-radius: 0 0 10px;
    color: #fafafa;
    font-family: sans-serif;
    font-size: .9em;
    margin-left: -10px;
    margin-bottom: 15px;
    width:100%
}

.tuto-ast-copy, .tuto-copy {
    padding:10px 20px
}

.tuto-ast-copy::before, .tuto-copy::before {
    content: "\f129";
    float: right;
    font-family: FontAwesome;
    font-size: 6em;
    margin-top: 28px
}
